<body>
    <div class="row">
        <div class="col">
            <div class="container text-center mt-4 p-3">
                <a class="btn btn-light admin-button" href="/he2023admin">Admin Panel</a>
                <a class="btn btn-light admin-button" href="/products/all">All Products</a>
            </div>
        </div>
        <div class="col">
            <div class="col-lg d-flex justify-content-end searchDiv_1">
                  <div class="container sticky" id="searchDiv_1">
                    <div class="input-group">
                      <input id="search_input" name="search_input" type="text" class="form-control" placeholder="Search Products">
                      <div class="input-group-append">
                        <button name="search_submit_button" class="btn btn-info" type="submit">Search</button>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
    <div class="container-fluid d-flex flex-wrap p0" id="filterResult">
    
    </div>
    
    <div class="container mt-4">
        <% if (locals.message != null) { 
            
            %> 
        <table class="table bg-dark text-light">
          <thead class="thead-light">
            <tr class="">
              <th>Image</th>
              <th>PID</th>
              <th>Model</th>
              <th>Type</th>
              <th>Brand</th>
              <th>Qty</th>
              <th>Add Poducts</th>
              <th>MRP</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>

            <% message.forEach(function(item) {
                let v = Number(item.Qty * item.mrp)
                %>
              <tr>
                  <td><img style="border-radius: 8px; max-height: 70px;max-width: 70px;" src="/uploadedFiles/<%= item.File_1 %>" alt="Image"></td>
                  <td><%= item.Id %></td>
                  <td><%= item.name %></td>
                  <td><%= item.type %></td>
                  <td><%= item.brand %></td>
                  <td><%= item.Qty %></td>
                  <td>
                    <form action="/updateQtyFromAP" method="POST">
                      <input type="hidden" name="Id" value="<%= item.Id %>">
                      <input type="hidden" name="Model" value="<%= item.name %>">
                      <input type="text" name="Qty" style="width: 50px;">
                        <button type="submit" class="btn btn-outline-light">Add</button>
                      </form>  
                  </td>
                  <td><%= item.mrp %></td>
                  <td><%= v %></td>
              </tr>
             <%   
            }) } %> 
          </tbody>
        </table>
      </div>

      <script>
        $(document).ready(
            () => {
                $("button[name='search_submit_button']").click(function (e) {

                    let searchInput = $('#search_input').val();
                    $.ajax({
                            url: `/search/fromAdminAllProducts`,
                            method: 'post',
                            data: {brand:searchInput},
                            success: (result) => {
                                $('tbody').empty()
                                result.forEach(element => {
                                    $('tbody').prepend(element)
                                });                                
                            }
                        })
                });
            }
        )
        </script>
</body>