<body style="background-head: rgb(232, 248, 250)">
  <div class="row mt-4">
    <div class="col-3 border navDiv">
        <%- include('./partials/navbar.ejs') %>
    </div>
    <div class="col">
      <div class="container">
        <h4>Existing Heads</h4>
        <hr />
      </div>
      <div class="container result mt-2">
        <%- include('./partials/successMsg.ejs') %>
        <%- include('./partials/error.ejs') %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#createNew">
              Create New
            </button>
            <div id="createNew" class="collapse">
              <form action="/basic_new_head_upload" method="post">
                <div class="row mt-3">
                  <div class="col-lg-4">
                    <h6><label for="name">Head</label></h6>
                  </div>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" name="name" placeholder="Head" />
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-lg-4">
                    <h6><label for="type">Type</label></h6>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <select class="form-control" name="type" id="type">
                        <option value="">Select Head Type</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="container d-flex justify-content-end mt-4 mr-3">
                  <input class="btn btn-outline-success mr-2" name="submit" type="submit" value="Upload" />
                </div>
              </form>
            </div>
          </div>
          <div class="col d-flex justify-content-end searchDiv_1">
            <!-- <form action="/search" method="post"> -->
            <div class="container sticky" id="searchDiv_1">
              <div class="input-group">
                <input id="search_input" name="search_input" type="text" class="form-control"
                  placeholder="Search Head" />
                <div class="input-group-append">
                  <button name="search_submit_button" class="btn btn-info" type="submit">
                    Search
                  </button>
                </div>
              </div>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
      <div id="editForm" class="container mt-3">

      </div>
      <div class="container mt-2">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Head</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if (locals.message) { message.forEach(function(head) {%>
            <td><%= head.id %></td>
            <td><%= head.name %></td>
            <td>
              <form action="/basic_head_delete" method="post">
                <input name="cid" type="hidden" value="<%= head.id %>">
                <button class="btn btn-danger">Remove</button>
              </form>
            </td>
            </tr>
            <% })}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    function logout() {
      document.cookie = "pcs=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      location.href = "/";
    }
    $(document).ready(() => {
      $(`button[name="search_submit_button"]`).click(() => {
        let SI = $(`input[name="search_input"]`).val()
        $.ajax({
          url: "/basic_head_search",
          method: 'POST',
          data: {
            SI: SI
          },
          success: (data) => {
            if (data == "No head found!") {
              alert ("No head found!")
            } else {
              $('tbody').empty()
              for (let i = 0; i < data.length; i++) {
                const elem = data[i];
                $('tbody').prepend(
              `<tr>
              <td>${elem.id}</td>
              <td>${elem.name}</td>
              <td>
                <form action="/basic_head_delete" method="post">
                    <input name="cid" type="hidden" value="${elem.id}">
                     <button class="btn btn-danger">Remove</button>
                </form>
              </td>
            </tr>`
            )
              }
            
            }
          }
        })
      });
    })
  </script>
</body>