<body style="background-color: rgb(232, 248, 250)">
  <div class="row mt-4">
    <div class="col-3 border navDiv">
        <%- include('./partials/navbar.ejs') %>
    </div>
    <div class="col">
      <div class="container">
        <h4>Existing Purchase Order</h4>
        <hr />
      </div>
      <div class="container result mt-2">
        <%- include('./partials/successMsg.ejs') %>
        <%- include('./partials/error.ejs') %>
        
      </div>
      <div class="container-fluid">
        
        <div class="container-fluid d-flex">
          <button class="btn btn-outline-info" name="CreateNewButton" data-toggle="collapse" data-target="#createNew">
            Create New
          </button>
          <button class="btn btn-outline-info showChallanButton" data-toggle="collapse" data-target="#showChallan">
            All Challan
          </button>
          <button class="btn btn-outline-info purchaseReturn" data-toggle="collapse" data-target="#purchaseReturn">
            Return
          </button>
        </div>
        <div id="createNew" class="collapse mt-2" style="background-color: antiquewhite; padding-right: 15px; border-radius: 15px;">
         <!-- <form action="/purchase/new" method="POST"> -->
          
          <div class="container-fluid text-center" id="prodUpdatSuccessMsgDiv">
            <div class="alert alert-success">
              <p id="prodUpdatSuccessMsg"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="pur_date"><span style="color: red;">* </span>Pur. Date</label></h6>
                          </div>
                          <div class="col-lg-8">
                              <input type="date" class="form-control" id="pur_date" name="pur_date" placeholder="Purchase Date" required>
                          </div>
                      </div>
            </div>
            <div class="col">
              <div class="row mt-3">
                <div class="col-lg-3 mt-2 text-right">
                    <h6><label for="model"><span style="color: red;">*</span>Model</label></h6>
                </div>
                <div class="col-lg-9">
                  <div class="container">
                    <input type="text" class="form-control" name="model" id="model_selected" required>
                  </div>
                     <div class="container-fluid d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#myModal">Select Model</button>
                        <a href="/products" target="_blank" class="btn btn-sm btn-outline-info" role="button">Add Model</a>
                     <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <div class="container model_search_div">
                              <div class="container d-flex justify-content-end model_search">
                                <div class="container sticky" id="model_search">
                                  <div class="input-group">
                                    <input name="model_search_input" type="text" class="form-control"
                                      placeholder="Search Products" />
                                    <div class="input-group-append">
                                      <button name="model_search_submit_button" class="btn btn-info" type="submit">
                                        Search
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="container">
                                <table class="table">
                              <thead>
                                <tr>
                                  <th>Code</th>
                                  <th>Model</th>
                                  <th>Brand</th>
                                  <th>MRP</th>
                                </tr>
                              </thead>
                              <tbody id="model_search_result">
                                
                              </tbody>
                            </table>
                              </div>
                            </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                     </div>
                </div>
            </div>
             
            </div>
            <div class="col">
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="invoice"><span style="color: red;">* </span>Invoice</label></h6>
                          </div>
                          <div class="col-lg-8">
                              <input type="text" class="form-control" name="invoice" id="invoice" placeholder="Invoice Number" required>
                          </div>
                      </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <% if (locals.message) {%>
                <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="supplier"><span style="color: red;">* </span>Supplier</label></h6>
                          </div>
                          <div class="col-lg-8">
                               <div class="form-group">
                            <select class="form-control" id="supplier" name="supplier">
                              <option value="Select Supplier" selected>Select Supplier</option>
                              <% if (locals.message[1]) { locals.message[1].forEach(function(s) {%>
                                <option><%= s.name %></option>
                            <% } )}%>
                            </select>
                          </div>
                          </div>
                      </div>
             <% } else {%>
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="supplier"><span style="color: red;">* </span>Supplier</label></h6>
                          </div>
                          <div class="col-lg-8">
                            <button class="btn btn-outline-info" type="button"><a href="/supplier" class="text-dark" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Add Supplier</a></button>
                          </div>
                      </div>
            <% }%>
              <!-- <div class="row mt-3">
                <div class="col-lg-4 mt-2 text-right">
                    <h6><label for="balance">Balance</label></h6>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="supplierBalance" id="supplierBalance" readonly>    
                </div>
            </div>  -->
            <!-- <div class="row mt-3 editSupplierInputDiv">
                <div class="col-lg-4 mt-2 text-right">
                    <h6><label for="supplierEdit">Supplier</label></h6>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="editSupplierInput" id="editSupplierInput" readonly>    
                </div>
            </div>  -->
            </div>
            <div class="col">
                 <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="brand">Brand</label></h6>
                          </div>
                          <div class="col-lg-8">
                              <input type="hidden" class="form-control" name="category" id="category">
                              <input type="text" class="form-control" name="brand" id="brand" placeholder="Brand" readonly>
                          </div>
                      </div> 
            </div>
            <div class="col">
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="qty"><span style="color: red;">* </span>QTY</label></h6>
                          </div>
                          <div class="col-lg-8">
                              <input type="number" id="qty" class="form-control" name="qty" required>
                          </div>
                      </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <% if (locals.message) {%>
                <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="godown"><span style="color: red;">* </span>Godown</label></h6>
                          </div>
                          <div class="col-lg-8">
                               <div class="form-group">
                            <select class="form-control" id="godown" name="godown" required>
                              <% if (locals.message[0]) { locals.message[0].forEach(function(s) {%>
                                <option><%= s.name %></option>
                            <% } )}%>
                            </select>
                          </div>
                          </div>
                      </div>
             <% } else {%>
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="godown"><span style="color: red;">* </span>Godown</label></h6>
                          </div>
                          <div class="col-lg-8">
                            <button class="btn btn-outline-info" type="button"><a href="/godown" class="text-dark" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Add Godown/Center</a></button>
                          </div>
                      </div>
            <% }%>
                    
            </div>
           <div class="col">
              <% if (locals.message) {%>
                <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="color"><span style="color: red;">* </span>Color</label></h6>
                          </div>
                          <div class="col-lg-8">
                               <div class="form-group">
                                <select class="form-control" id="color" name="color">
                                  <option selected>No Color</option>
                                  <% if (locals.message[3]) { locals.message[3].forEach(function(s) {%>
                                    <option><%= s.name %></option>
                                <% } )}%>
                                </select>
                              </div>
                          </div>
                      </div>
             <% } else {%>
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="color"><span style="color: red;">* </span>Color</label></h6>
                          </div>
                          <div class="col-lg-8">
                            <button class="btn btn-outline-info" type="button"><a href="/color" class="text-dark" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Add Color</a></button>
                          </div>
                      </div>
            <% }%>
                    
            </div>
            <div class="col">
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="prev_stock">Prev_stock</label></h6>
                          </div>
                          <div class="col-lg-8">
                              <input type="text" class="form-control" name="prev_stock" id="prev_stock" readonly>
                          </div>
                      </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                    <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="pur_rate">Pur. Rate</label></h6>
                          </div>
                          <div class="col-lg-8">
                              <input type="text" class="form-control" name="pur_rate" id="pur_rate" readonly>
                          </div>
                      </div>
            </div>
            <div class="col">
                      <div class="row mt-3">
                          <div class="col-lg-3 mt-2 text-right">
                              <h6><label for="mrp"><span style="color: red;">* </span>MRP</label></h6>
                          </div>
                          <div class="col-lg-9">
                              <input type="number" class="form-control" name="mrp" id="mrp" required>
                          </div>
                      </div>
            </div>
            <div class="col">
              <div class="row mt-3">
                          <div class="col-lg-4 mt-2 text-right">
                              <h6><label for="disc_per">Discount Per.</label></h6>
                          </div>
                          <div class="col-lg-8">
                            <div class="container-fluid p-0">
                              <input type="number" class="form-control" name="disc_per" id="disc_per" placeholder="Discount Per." maxlength="4">
                              <input type="number" class="form-control hide" name="flat_disc" id="flat_disc" placeholder="Flat Discount">
                            </div>
                            <div class="container-fluid p-0">
                              <button class="btn btn-sm btn-outline-info hide" id="disc_button">Discount Percentage</button>
                              <button class="btn btn-sm btn-outline-info" id="flat_disc_button">Flat Discount</button>
                            </div>
                          </div>
                      </div>
            </div>
          </div>

          <div class="container-fluid">
            <button class="btn btn-sm btn-outline-info addNewBC">Add New Barcode</button>
            <div class="container text-center" id="existingBcDiv" style="overflow: scroll;">
              <div class="alert alert-danger">
                <h6>Existing Barcode found!</h6>
                <input type="hidden" name="existingbcDatabaseReport" id="existingbcDatabaseReport">
                <p id="existingbc"></p>
              </div>
            </div>
          </div>
          <div class="container-fluid p-3 d-flex justify-content-center flex-wrap" id="barcode">
            
          </div>
          
          <div class="row d-flex justify-content-end mr-3">
                <!-- <input class="btn btn-success mr-2" name="submit" type="submit" id="replaceButton" value="Replace"> -->
                <input class="btn btn-sm btn-success mr-2" name="submit" type="button" id="register" value="Add Product">
                <input class="btn btn-sm btn-success mr-2" name="submit" type="button" id="registerRevised" value="Add Revised Product">
                <!-- <input type="hidden" name="barcode" id="checkBC"> -->
                <input type="hidden" name="invoiceData" id="invoiceData">
              </div>
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>Qty</th>
                    <th>MRP</th>
                    <th>Disc(%)</th>
                    <th>Flat Disc.</th>
                    <th>Pur. Rate</th>
                  </tr>
                </thead>
                <tbody id="addedModel">
                  
                </tbody>
              </table>
            </div>
            <div class="container p-4">
              <div class="row">
                <div class="col">
                  <h5>Total Purchase Rate is Tk. <span id="TPR">0</span></h5>
                </div>
                <div class="col d-flex justify-content-end">
                  <input class="btn btn-sm btn-success mr-2" name="purchase" type="button" id="purchase" value="Purchase" onclick="sendPurchaseData()">
                </div>
              </div>
            </div>
         <!-- </form> -->
        </div>
        
      </div>
      
      <div id="editForm" class="container mt-3">

      </div>
      
      <div class="container mt-2">
        
        <div id="showChallan" class="collapse mt-2"
          style="background-color: antiquewhite; padding-right: 15px; border-radius: 15px;">
          <div class="container-fluid p-3">
            <h4>Existing Challan</h4>
          </div>
          <div class="container p-2">
            <div class="row">
              <div class="col"></div>
               <div class="col d-flex justify-content-end searchDiv_1">
                <!-- <form action="/search" method="post"> -->
                <div class="container sticky" id="searchDiv_1">
                  <div class="input-group">
                    <input id="search_input" name="search_input" type="text" class="form-control"
                      placeholder="Search Invoice" />
                    <div class="input-group-append">
                      <button name="search_submit_button" name="searchChallan" class="btn btn-info" type="submit">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Purchase Date</th>
                  <th>Invoice No</th>
                  <th>Supplier</th>
                  <th>Amount</th>
                  <th>Edit</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody id="showChallanTable">
                  
              </tbody>
            </table>
        </div>
      </div>
      <div class="container">
        <div id="purchaseReturn" class="collapse mt-2 p-3" style="border-radius: 15px;">
          <div class="container-fluid p-0">
            <h4>Purchase Return</h4>
          </div>
          <div class="input-group" style="max-width: 400px;">
            <input id="return_input" name="return_input" type="text" class="form-control"
              placeholder="Barcode" />
            <div class="input-group-append">
              <button name="search_return_input_button" class="btn btn-info" type="submit">
                Search Product
              </button>
            </div>
          </div>
          <div class="container-fluid">
            <div class="container-fluid table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Challan</th>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>MRP</th>
                    <th>Disc(%)</th>
                    <th>Flat Disc.</th>
                    <th>Pur. Rate</th>
                    <th>Supplier</th>
                    <th>R. Date</th>
                    <th>Return</th>
                  </tr>
                </thead>
                <tbody id="addedModelForReturn">
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function logout() {
      document.cookie = "pcs=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      location.href = "/";
    }
    $(document).ready(() => {
      $('#purchase').hide();
      // $('.editSupplierInputDiv').hide()
      $("#registerRevised").hide()
      $("#prodUpdatSuccessMsgDiv").hide()
      $("#existingBcDiv").hide()
      $("#replaceButton").hide()
      $('#flat_disc_button').click(() => {
        $('#disc_per').hide()
        $('#flat_disc_button').hide()
        $('#disc_button').removeClass('hide')
        $('#flat_disc').removeClass('hide')
        
      })

      $('#disc_button').click(() => {
        $('#disc_per').show()
        $('#flat_disc_button').show()
        $('#flat_disc').addClass('hide')
        $('#disc_button').addClass('hide')
      })
      // $('.model_search_div').hide()
      $(`button[name="search_submit_button"]`).click(() => {
        let SI = $(`input[name="search_input"]`).val()
        $.ajax({
          url: "/purchase/invoice_search",
          method: 'POST',
          data: {
            SI: SI
          },
          success: (result) => {
            if (result == "No challan found!") {
              alert ("No challan found!")
            } else {
              $("#showChallanTable").empty();
              result.forEach((e) => {
              let date = e.date.slice(0, 10)
              $("#showChallanTable").append(`
                  <tr>
                    <td>
                      ${date}
                    </td>
                    <td>
                      ${e.invoice_no}
                    </td>
                    <td>
                      ${e.supplier}
                    </td>
                    <td>
                      ${e.net_total}
                    </td>
                    <td>
                      <button name="editChallan" id="editChallan" invoice="${e.invoice_no}" class="btn btn-warning">Edit</button>
                    </td>
                    <td>
                      <form action="/purchase/remove_invoice" method="post">
                        <input name="invoice" type="hidden" value="${e.invoice_no}">
                        <button class="btn btn-danger">Remove</button>
                      </form>
                    </td>
                  </tr>
            `)
            })
            
          }}
        })
      });
      $(`body`).on("click", '#editButton', (e) => {
        let cid = e.target.getAttribute('cid')
        $.ajax({
          url: "/customer/edit",
          method: 'POST',
          data: {
            cid: cid
          },
          success: (data) => {
            $('#editForm').html(data)
          }
        })
      
        
      });

      $(`button[name="edit"]`).click((e) => {
        let invoice = e.target.getAttribute('invoice')
        $.ajax({
          url: "/purchase/edit_invoice",
          method: 'POST',
          data: {
            invoice: invoice
          },
          success: (data) => {
            // $('#editForm').html(data)
          }
        })
      });

      $("body").on("click", "#cancel", () => {
        $('#editForm').empty()
      })  

      // $("#supplier").change(() => {
      //   let supplier = $("#supplier").val()
      //   $.ajax({
      //     url: "/purchase/getSupplierBalance",
      //     type: "post",
      //     data: {supplier: supplier},
      //     success: (data) => {
      //       $("#supplierBalance").val(data[0].balance)
      //     }
      //   })        
      // })

      $("body").on("click", "#return_input_button", (e) => {
        let barcode = e.target.getAttribute("barcode")
        let returnDate = $("#returnDate").val()
         $.ajax({
          url: "/purchase/return",
          type: "post",
          data: {barcode : barcode, returnDate : returnDate},
          success: (data) => {
            $("#addedModelForReturn").empty()
            $("#return_input").val("")
            alert(data)   
            location.reload()   
          }
        })
      })
 
      $(`button[name="model_search_submit_button"]`).click(() => {
        let SI = $(`input[name="model_search_input"]`).val()
        $.ajax({
          url: "/basic_product_search",
          method: 'POST',
          data: {
            SI: SI
          },
          success: (result) => {
            if (result == "No product found!") {
              alert ("No product found!")
            } else {
              $('#model_search_result').empty();
              let count = 0;
            for (let i = 0; i < result.length; i++) {
                count++
              const data = result[i];
                  $('#model_search_result').append(`
                  <tr>
                  <td><input onclick="addModel(${count})" type="checkbox" name="model_select_checkbox" mrp="${data.mrp}" brand="${data.brand}" category="${data.category}" product_code="${data.id}" id="${count}" value="${data.product_name}"></td>
                    <td>${data.product_name}</td>
                    <td>${data.brand}</td>
                    <td>${data.mrp}</td>
                  </tr>`)

            }
             
            }
            
          }
        })
      });
      
      $("#invoice").focusout(() => {
        let i = $("#invoice").val()
        $.ajax({
            url: `/purchase/invoiceVerification/${i}`,
            type: "get",
            success: (data) => {
              if (data == "Duplicate challan found!") {
                $("#invoice").val("")
                alert(`Duplicate challan (${i}) found!`)
              }
            }
          })
      })

    })

    $(".addNewBC").click(() => {
      let count = $('#barcode > div > input').length
      count++
      let val = $('#qty').val()
      let int = Number(val)
      let qty = int + 1;
      $('#qty').val(qty)
      $('#barcode').append(`<div id="bc${count}" style="width:240px" class="d-flex p-2">
                  <input type="text" class="bc" name="b${count}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${count}" style='font-size:24px;cursor:pointer'></i>
                </div>`)
    })

    $(`input[name="qty"]`).keyup(function(e){
      
        // let count = $('#barcode > div > input').length
        //   let increase = count + 1;
        //   let val = $('#qty').val()
        //   let int = Number(val)
        //   if (int > count) {
        //     let add = int - count
        //     for (let i = 0; i < add; i++) {
        //       $('#barcode').append(`<div id="bc${increase}" style="width:240px" class="d-flex p-2">
        //           <input type="text" class="bc" name="b${increase}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${increase}" style='font-size:24px;cursor:pointer'></i>
        //         </div>`)
        //       increase++
        //     }
        //   }

        $('#barcode').empty()
        
        let val = $('#qty').val()
        let int = Number(val)
        for (let i = 0; i < int; i++) {
        $('#barcode').append(`<div id="bc${i}" style="width:240px" class="d-flex p-2">
                  <input type="text" class="bc" name="b${i}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${i}" style='font-size:24px;cursor:pointer'></i>
                </div>`)
        }
         
      });

      function addModel(a) {
        let val = document.getElementById(a).getAttribute('value');
        let mrp = document.getElementById(a).getAttribute('mrp');
        let brand = document.getElementById(a).getAttribute('brand');
        let category = document.getElementById(a).getAttribute('category');
        $('#model_selected').val('')
        $('#model_selected').val(val)
        $('#brand').val(brand)
        $('#category').val(category)
        $('#mrp').val(mrp)
        $('#model_search_result').empty()
        $.ajax({
                url: "/purchase/getStock",
                type: "POST",
                data: {model : val},
                success: (stock) => {
                  $("#prev_stock").val(stock.length)
                }
              })
      }

      $("body").on("click", ".removeBC", (e) => {
        let divId = e.target.getAttribute("divId")
        let bc = $(`#${divId}`).children(".bc").val()
          if (confirm("Removing the barcode will remove it from the database as well. Are you sure to remove this barcode?")) {
           $(`#${divId}`).remove()
           let val = $('#qty').val()
          let int = Number(val)
          let qty = int - 1;
          $('#qty').val(qty)
            $.ajax({
            url: "/purchase/removeBcIfExist",
            type: "post",
            data: {bc: bc},
            success: (data) => {}
           })
          }
        
        }) 

      $("#disc_per").keyup(() => {
        let disc = $("#disc_per").val()
        let mrp = $('#mrp').val()
        $("#flat_disc").val("0")
        $("#pur_rate").val(mrp - ((mrp/100) * disc))
      })

      $("#flat_disc").keyup(() => {
        let disc = $("#flat_disc").val()
        let mrp = $('#mrp').val()
        $("#pur_rate").val(mrp - disc)
        let disc_per = (disc/mrp) * 100
        let t = String(disc_per)
        let val = t.slice(0, 5);
        Number(val)
        $("#disc_per").val(val)
      })

      let purchaseData = []
        function pushProduct(product) {
          purchaseData.push(product)
        }

        function checkTheBarcodeValidity(b) {
          if (purchaseData.length > 0) {
              let DuplicateBCFound = false;
                for (let i = 0; i < purchaseData.length; i++) {
                const e = purchaseData[i];
                let bc = e[2];
                if (bc == b) {
                  alert(`Duplicate barcode found! "${b}"`)
                  DuplicateBCFound = true;
                }
              }
                if (DuplicateBCFound == true) {
                  return true;
                } else {
                  return false
                }
            } else {
              return false;
              // bc.push(b)
             
            }
        }
        
        // function checkTheBarcodeValidityInTheDatabase(bc) {

        //   let myPromise = new Promise(function(resolve, reject) {
        //     $.ajax({
        //         url: '/purchase/check_bc',
        //         type: 'POST',
        //         dataType: "json",
        //         data: {barcode_ : JSON.stringify(bc)},
        //         success: (data) => {
        //           if (data.existingBc !== "BC_OK") {
        //             resolve(0)
        //           } else {
        //             resolve(1)

        //             // $("#existingbcDatabaseReport").val("true")
        //             // alert("Barcode database varification ok")
        //           }
             
        //       }
        //     })
        //   });

        //   myPromise.then(
        //     function(value) {myDisplayer(value);},
        //   );

          
          
        // }

        function modelValidityCheck() {
          let model = $('#model_selected').val()
          if (purchaseData.length > 0) {
              let DuplicateModelFound = false;
                for (let i = 0; i < purchaseData.length; i++) {
                const e = purchaseData[i];
                if (e[0] == model) {
                  alert("This model already exist in your order!")
                  DuplicateModelFound = true;
                }
              }
                if (DuplicateModelFound == true) {
                  return true;
                  
                } else {
                  return false;
                }
            } else {
              return false;
            }
        }

      $(`body`).on("click", '#removeProduct', (e) => {
        let pid = e.target.getAttribute("pid")
        let bc = e.target.getAttribute("bc")
        if (confirm("Are you sure to remove this product?")) {
          $.ajax({
            url: "/purchase/removedProduct",
            type: "post",
            data: {bc : bc},
            success: () => {}
          })
          const index = purchaseData.indexOf(purchaseData[pid]);
                if (index !== -1) {
                  purchaseData.splice(index, 1);
                }

                $("#addedModel").empty()
                
                if (purchaseData.length > 0) {
                  let count = 1
                  let totalPurchase = 0
                  for (let i = 0; i < purchaseData.length; i++) {
                    const e = purchaseData[i];
                    let qty = e[1]
                    let pur_rate = e[9]
                    let netPurchase = Number(qty) * Number(pur_rate)
                    totalPurchase += netPurchase
                    $("#addedModel").append(`
                    <tr id="${i}">
                      <td>
                        ${count}
                      </td> 
                      <td>
                        ${e[0]}
                      </td>
                      <td>
                        ${e[13]}
                      </td>  
                      <td>
                        ${e[1]}
                      </td>
                      <td>
                        ${e[10]}
                      </td>
                      <td>
                        ${e[11]}
                      </td> 
                      <td>
                        ${e[12]}
                      </td> 
                      <td>
                        ${e[9]}
                      </td> 
                      <td>
                        <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                      </td>
                    </tr>
                  `)
                    count++
                  }
                  $("#TPR").text(totalPurchase)

                } else {
                  $("#TPR").text("0")
                }
        }
        
      })

      $(".showChallanButton").click(() => {
        $.ajax({
          url: "/purchase/challan",
          type: "post",
          success: (data) => {
            $("#showChallanTable").empty()
            data.forEach((e) => {
              let date = e.date.slice(0, 10)
              $("#showChallanTable").append(`
                  <tr>
                    <td>
                      ${date}
                    </td>
                    <td>
                      ${e.invoice_no}
                    </td>
                    <td>
                      ${e.supplier}
                    </td>
                    <td>
                      ${e.net_total}
                    </td>
                    <td>
                      <button name="editChallan" id="editChallan" invoice="${e.invoice_no}" class="btn btn-warning">Edit</button>
                    </td>
                    <td>
                      <form action="/purchase/remove_invoice" method="post">
                        <input name="invoice" type="hidden" value="${e.invoice_no}">
                        <button class="btn btn-danger">Remove</button>
                      </form>
                    </td>
                  </tr>
            `)
            })
            
          }
        })
      })

      $(`body`).on("click", '#editChallan', (e) => {
        // alert("Click the 'create new' button!")
        purchaseData = [];
        $("#showChallanTable").empty()
        $(`button[name="CreateNewButton"]`).click()
        let invoice = e.target.getAttribute("invoice")
        $.ajax({
          url: "/purchase/challan/edit",
          type: "post",
          data: {invoice: invoice},
          success: (result) => {
            let models = []
                for (let i = 0; i < result.length; i++) {
                  const model = result[i].model;
                  if (models.includes(model) == false) {
                    models.push(model)
                  }
                }

                  for (let i = 0; i < models.length; i++) {
                      const model = models[i];
                      $.ajax({
                        url: "/purchase/challan/edit/getData",
                        type: "post",
                        data: {invoice: invoice, model: model},
                        success: (result) => {
                          let e = result[0];
                            let qty = result.length;
                            let bc = []
                          
                          for (let j = 0; j < result.length; j++) {
                            const elem = result[j];
                            bc.push(elem.barcode)
                          }
                          let product = [e.model, qty, [], e.date, e.invoice_no, e.supplier, e.godown, e.color, e.prev_stock, e.pur_rate, e.mrp, e.disc_per, e.flat_disc_amount, e.brand, e.category, "+"]
                          product[2] = bc;
                          pushProduct(product)
                        let netPurchase_2 = 0
                        $("#addedModel").empty()
                        let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        netPurchase_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>
                            <td>
                              ${e[13]}
                            </td>  
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}" challanEdit="True">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      
                      }
                      $("#TPR").text(netPurchase_2)
                      $('#purchase').show();

                          // let netPurchase_2 = $("#TPR").text()
                          // let netP = Number(netPurchase_2)
                          // netP += (Number(product[1]) * Number(product[9]))
                          // $("#addedModel").append(`
                          //               <tr id="${i}">
                          //                 <td>
                          //                   ${count}
                          //                 </td> 
                          //                 <td>
                          //                   ${product[0]}
                          //                 </td>  
                          //                 <td>
                          //                   ${product[6]}
                          //                 </td> 
                          //                 <td>
                          //                   ${product[1]}
                          //                 </td> 
                          //                 <td>
                          //                   ${product[10]}
                          //                 </td>
                          //                 <td>
                          //                   ${product[11]}
                          //                 </td> 
                          //                 <td>
                          //                   ${product[12]}
                          //                 </td> 
                          //                 <td>
                          //                   ${product[9]}
                          //                 </td> 
                          //                 <td>
                          //                   <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                          //                 </td>
                          //                 <td>
                          //                   <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                          //                 </td>
                          //               </tr>
                          //             `)
                          // count++
                          // $("#TPR").text(netP)
                        }
                      })
                      
                  }
                  
          }
        })
      })

      $(`body`).on("click", '#addProductEdit', (e) => {
        let challanEdit = e.target.getAttribute("challanEdit")
        if (challanEdit=="True") {
          $('#register').hide();
          // $('.renderSupplier').hide();
          $("#registerRevised").show()
          // $('.editSupplierInputDiv').show()
        }
        $('#purchase').hide();
        let pid = e.target.getAttribute("pid")
        $('#editSupplierInput').val(`${purchaseData[pid][5]}`)
        $('#model_selected').val(`${purchaseData[pid][0]}`)
        $('#brand').val(`${purchaseData[pid][13]}`)
        $('#category').val(`${purchaseData[pid][14]}`)
        $('#qty').val(`${purchaseData[pid][1]}`)
        $('#invoice').val(`${purchaseData[pid][4]}`)
        $('#pur_rate').val(`${purchaseData[pid][9]}`)
        $('#mrp').val(`${purchaseData[pid][10]}`)
        $('#disc_per').val(`${purchaseData[pid][11]}`)
        $('#flat_disc').val(`${purchaseData[pid][12]}`)
        $('#barcode').empty();
        // let product = [model, qty, bc, pur_date, invoice, supplier, godown, color, prev_stock, pur_rate, mrp, disc_per, flat_disc, "+"]

        for (let i = 0; i < purchaseData[pid][2].length; i++) {
          // $('#barcode').append(`<input type="text" class="bc" value="${purchaseData[pid][2][i]}" name="b${i}" style="width:200px">`)
        $('#barcode').append(`<div id="bc${i}" style="width:240px" class="d-flex p-2">
                  <input type="text" value="${purchaseData[pid][2][i]}" class="bc" name="b${i}" style="width:200px"><i class='fas fa-times-circle p-1 removeBC' divId="bc${i}" style='font-size:24px;cursor:pointer'></i>
                </div>`)
        }

        const index = purchaseData.indexOf(purchaseData[pid]);
        if (index !== -1) {
          purchaseData.splice(index, 1);
        }
        
        // Calculate total purchase
        let qty = $('#qty').val()
        let pur_rate = $('#pur_rate').val()
        let netPurchase = Number(qty) * Number(pur_rate)
        let tpr = $("#TPR").text()
        let tprNum = Number(tpr)
        tprNum -= netPurchase;
        $("#addedModel").empty()
        $("#TPR").text(tprNum)

        let count = 1
        for (let i = 0; i < purchaseData.length; i++) {
          const e = purchaseData[i];
          $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td> 
                            <td>
                              ${e[13]}
                            </td>
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
          count++
        }
        
        // $("#replaceButton").show()
        // $("#replaceButton").attr("pid", `${pid}`)
      })

      // $("#replaceButton").click((e) => {
      //   let pid = e.target.getAttribute("pid")
      //   var index = items.indexOf(3452);
      //   if (index !== -1) {
      //     items[index] = 1010;
      //   }
      // })

      $(`body`).on("click", '#register', () => {
        $("#existingBcDiv").hide()
        let s = $("#supplier").val()
        if (s == "Select Supplier") {
          alert("Select Supplier")
          return
        }
        let bc = []
        let isBCOk = true;
        let isBarcodeEmpty = false;
        document.querySelectorAll('.bc').forEach((e) => {
          let b = e.value
          if (b == ""){
            isBarcodeEmpty = true;
          }
        })

        if (isBarcodeEmpty == true) {
          alert("Missing Barcode!!!")
        } else {
          document.querySelectorAll('.bc').forEach((e) => {
          let b = e.value
          if (checkTheBarcodeValidity(b) == true) {
              isBCOk = false;
            } else {
              bc.push(b)
            }
            
        })
       
        if (isBCOk == true) {
          $.ajax({
                url: '/purchase/check_bc',
                type: 'POST',
                dataType: "json",
                data: {barcode_ : JSON.stringify(bc)},
                success: (data) => {
                  if (data.existingBc !== "BC_OK") {
                    alert(`Existing barcode found in the Database! BC : ${data.existingBc}`)
                    $("#addedModel").empty()
                    if (purchaseData.length > 0) {
                      let netPurchase_2 = 0
                      let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        netPurchase_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td> 
                            <td>
                              ${e[13]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netPurchase_2)
                      return;
                    }
                  } else {
                    if (modelValidityCheck() == true) {
                      $("#addedModel").empty()
                      if (purchaseData.length > 0) {
                      let netPurchase_2 = 0
                      let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        netPurchase_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[13]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netPurchase_2)
                      return;
                    }
                     
                    } else {

                      let pur_date = $('#pur_date').val()
                          let challan = $('#challan').val()
                          let invoice = $('#invoice').val()
                          let supplier = $('#supplier').val()
                          let model = $('#model_selected').val()
                          let brand = $('#brand').val()
                          let category= $('#category').val()
                          let qty = $('#qty').val()
                          let godown = $('#godown').val()
                          let color = $('#color').val()
                          let prev_stock = $('#prev_stock').val()
                          let pur_rate = $('#pur_rate').val()
                          let mrp = $('#mrp').val()
                          let disc_per = $('#disc_per').val()
                          let flat_disc = $('#flat_disc').val()
                          if (flat_disc == "") {
                            flat_disc = 0
                          }
                          if (disc_per == "" && flat_disc == "") {
                            disc_per = 0
                            flat_disc = 0
                            pur_rate = mrp
                          }
                        let product = [model, qty, bc, pur_date, invoice, supplier, godown, color, prev_stock, pur_rate, mrp, disc_per, flat_disc, brand, category, "+"]
                        let confirmRequiredInput = [model, qty, pur_date, invoice, supplier, godown, color, mrp]
                        for (let i = 0; i < confirmRequiredInput.length; i++) {
                          const elem = confirmRequiredInput[i];
                          if (elem == "") {
                            alert(`Some input value is required!`)
                            return;
                          }
                        }
                        pushProduct(product)

                        $('#model_selected').val("")
                        $('#qty').val("")
                        $('#disc_per').val("")
                        $('#flat_disc').val("")
                        $('#pur_rate').val("")
                        $('#brand').val("")
                        $('#category').val("")
                        $('#mrp').val("")
                        $('#barcode').empty();
                        $("#addedModel").empty();
                        $("#addedModel").empty()
                        let netPurchase_2 = 0
                      let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        netPurchase_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>  
                            <td>
                              ${e[13]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netPurchase_2)
                      $('#purchase').show();

                    }

                  } 
             
              }
            })
        }}
        
      })

      $(`body`).on("click", '#registerRevised', () => {
        $("#existingBcDiv").hide()
        let s = $("#supplier").val()
        if (s == "Select Supplier") {
          alert("Select Supplier")
          return
        }
        let bc = []
        let isBCOk = true;
        let isBarcodeEmpty = false;
        document.querySelectorAll('.bc').forEach((e) => {
          let b = e.value
          if (b == ""){
            alert("Missing Barcode!!!")
            isBarcodeEmpty = true;
          }
        })

        if (isBarcodeEmpty == false) {
          document.querySelectorAll('.bc').forEach((e) => {
          let b = e.value
          if (checkTheBarcodeValidity(b) == true) {
              isBCOk = false;
            } else {
              bc.push(b)
            }
            
        })
       
        if (isBCOk == true) {
          if (modelValidityCheck() == true) {
                      $("#addedModel").empty()
                      if (purchaseData.length > 0) {
                      let netPurchase_2 = 0
                      let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        netPurchase_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td>
                            <td>
                              ${e[13]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netPurchase_2)
                      return;
                    }
                      
                    } else {
                      let pur_date = $('#pur_date').val()
                          let challan = $('#challan').val()
                          let invoice = $('#invoice').val()
                          let supplier = $('#supplier').val()
                          let model = $('#model_selected').val()
                          let brand = $('#brand').val()
                          let category = $('#category').val()
                          let qty = $('#qty').val()
                          let godown = $('#godown').val()
                          let color = $('#color').val()
                          let prev_stock = $('#prev_stock').val()
                          let pur_rate = $('#pur_rate').val()
                          let mrp = $('#mrp').val()
                          let disc_per = $('#disc_per').val()
                          let flat_disc = $('#flat_disc').val()
                          if (flat_disc == "") {
                            flat_disc = 0
                          }
                          if (disc_per == "" && flat_disc == "") {
                            disc_per = 0
                            flat_disc = 0
                            pur_rate = mrp
                          }
                        let product = [model, qty, bc, pur_date, invoice, supplier, godown, color, prev_stock, pur_rate, mrp, disc_per, flat_disc, brand, category, "+"]
                        let confirmRequiredInput = [model, qty, pur_date, invoice, supplier, godown, color, mrp]
                        for (let i = 0; i < confirmRequiredInput.length; i++) {
                          const elem = confirmRequiredInput[i];
                          if (elem == "") {
                            alert(`Some input value is required!`)
                            return;
                          }
                        }
                        pushProduct(product)

                        $('#model_selected').val("")
                        $('#category').val("")
                        $('#qty').val("")
                        $('#disc_per').val("")
                        $('#flat_disc').val("")
                        $('#pur_rate').val("")
                        $('#mrp').val("")
                        $('#barcode').empty();
                        $("#addedModel").empty();

                        // pushProduct(product)
                        $("#addedModel").empty()
                        let netPurchase_2 = 0
                      let count = 1
                      for (let i = 0; i < purchaseData.length; i++) {
                        const e = purchaseData[i];
                        netPurchase_2 += Number(e[1]) * Number(e[9])
                        $("#addedModel").append(`
                          <tr id="${i}">
                            <td>
                              ${count}
                            </td> 
                            <td>
                              ${e[0]}
                            </td> 
                            <td>
                              ${e[13]}
                            </td> 
                            <td>
                              ${e[1]}
                            </td> 
                            <td>
                              ${e[10]}
                            </td>
                            <td>
                              ${e[11]}
                            </td> 
                            <td>
                              ${e[12]}
                            </td> 
                            <td>
                              ${e[9]}
                            </td> 
                            <td>
                              <button class="btn btn-sm btn-outline-warning" id="addProductEdit" pid="${i}">Edit</button>
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" bc="${e[2]}" id="removeProduct" pid="${i}">Remove</button>
                            </td>
                          </tr>
                        `)
                        count++
                      }
                      $("#TPR").text(netPurchase_2)
                      $('#purchase').show();

                    }
        }}
        
      })

      $(`button[name="search_return_input_button"]`).click(() => {
        let barcode = $("#return_input").val()
        $.ajax({
          url: "/purchase/getDataForReturn",
          type: "post",
          data: {barcode: barcode},
          success: (e) => {
            if (e !== "Barcode not found!") {
            if (e[0].status == "Returned") {
              alert("This product has already been returned!")
            } else {
            $("#addedModelForReturn").empty()
            $("#addedModelForReturn").append(`
                          <tr>
                            <td>
                              ${e[0].invoice_no}
                            </td> 
                            <td>
                              ${e[0].model}
                            </td>  
                            <td>
                              ${e[0].brand}
                            </td> 
                            <td>
                              ${e[0].mrp}
                            </td> 
                            <td>
                              ${e[0].disc_per}
                            </td>
                            <td>
                              ${e[0].flat_disc_per}
                            </td> 
                            <td>
                              ${e[0].pur_rate}
                            </td> 
                            <td>
                              ${e[0].supplier}
                            </td>
                            <td>
                                <input type="date" name="returnDate" id="returnDate">
                            </td>
                            <td>
                              <button class="btn btn-sm btn-outline-danger" id="return_input_button" barcode="${e[0].barcode}">Return</button>
                            </td>
                          </tr>
                        `)
            }
          } else {
            alert(e)
          }
          }
        })
       
      })
      

      function sendPurchaseData() {
        $("#invoiceData").val(purchaseData)
        
        let _data = $("#invoiceData").val()
          $.ajax({
            url: '/purchase/new',
            type: 'POST',
            data: {
              data : _data
            },
            success: (data) => {
              if (data.prodUpdatSuccessMsg) {
                $("#addedModel").empty()
                $("#TPR").text("0")
                $('#invoice').val("")
                purchaseData = []
                alert(data.prodUpdatSuccessMsg)
                // $("#prodUpdatSuccessMsg").text(data.prodUpdatSuccessMsg)
                // $("#prodUpdatSuccessMsgDiv").show()
                location.reload()
              }
            }
          })
        
        }
      
  </script>
</body>