<body style="background-color: rgb(232, 248, 250)">
    <div class="row mt-4">
      <div class="col-3 border navDiv">
          <%- include('./partials/navbar.ejs') %>
      </div>
      <div class="col">
        <div class="container">
          <h4>Supplier Cash Payments</h4>
          <hr />
        </div>
        <div class="container result mt-2">
          <%- include('./partials/successMsg.ejs') %>
          <%- include('./partials/error.ejs') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-info" data-toggle="collapse" data-target="#createNew">
                Create New
              </button>
              
            </div>
            <div class="col d-flex justify-content-end searchDiv_1">
              <!-- <form action="/search" method="post"> -->
              <!-- <div class="container sticky" id="searchDiv_1">
                <div class="input-group">
                  <input id="search_input" name="search_input" type="text" class="form-control"
                    placeholder="Search Products" />
                  <div class="input-group-append">
                    <button name="search_submit_button" class="btn btn-info" type="submit">
                      Search
                    </button>
                  </div>
                </div>
              </div> -->
              <!-- </form> -->
            </div>
          </div>
          <div id="createNew" class="collapse">
            <form action="/accounts/payToSupplier" method="post">
              <div class="row p-3">
                <div class="col-sm">
                  <div class="row mt-3">
                    <div class="col-lg-4">
                      <h6><label for="date">Date</label></h6>
                    </div>
                    <div class="col-lg-8">
                      <input type="date" class="form-control" name="date" required/>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4">
                      <h6><label for="amount">Amount Tk.</label></h6>
                    </div>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" name="amount" placeholder="Amount"/>
                      <input type="hidden" class="form-control" name="reservedAmountForEdit" placeholder=""/>
                      <input type="hidden" class="form-control" name="reservedPaymentIdForEdit" placeholder=""/>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4">
                      <h6><label for="comment">Comment</label></h6>
                    </div>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" name="comment" placeholder="Comment" />
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="row">
                    <div class="col">
                      <% if (locals.supplier) {%>
                        <div class="row mt-3">
                                  <div class="col-lg-4 mt-2 text-right">
                                      <h6><label for="supplier"><span style="color: red;">* </span>Supplier</label></h6>
                                  </div>
                                  <div class="col-lg-8">
                                    <div id="supplierDivForEdit" class="hide">
                                      <input type="hidden" name="reservedSupplier_id" id="reservedSupplier_id">
                                      <input type="hidden" name="supplier_id" id="supplier_id">
                                    <input class="form-control" type="text" name="selected_supplier" id="selected_supplier" readonly>
                                    <input class="btn btn-outline-dark btn-sm" id="supplierEditBtn" value="Edit Supplier">
                                  </div>
                                       <div class="form-group" id="selectSupplierDiv">
                                    <select class="form-control" id="supplier" name="supplier">
                                      <option value="Select Supplier" selected>Select Supplier</option>
                                      <% if (locals.supplier) { locals.supplier.forEach(function(s) {%>
                                        <option><%= s.name %></option>
                                    <% } )}%>
                                    </select>
                                  </div>
                                  </div>
                              </div>
                     <% } else {%>
                      <div class="row mt-3">
                                  <div class="col-lg-4 mt-2 text-right">
                                      <h6><label for="supplier"><span style="color: red;">* </span>Supplier</label></h6>
                                  </div>
                                  <div class="col-lg-8">
                                    <button class="btn btn-outline-info" type="button"><a href="/supplier" class="text-dark" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Add Supplier</a></button>
                                  </div>
                              </div>
                    <% }%>
                     
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4">
                      <h6><label for="balance">Opening Balance</label></h6>
                    </div>
                    <div class="col-lg-8">
                      <input type="hidden" class="form-control" name="prvBalance" readonly/>
                      <input type="text" class="form-control" name="balance" readonly/>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-4">
                      <h6><label for="Cbalance">Closing Balance</label></h6>
                    </div>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" name="Cbalance" readonly/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container d-flex justify-content-end mt-4 mr-3">
                <input class="btn btn-outline-success mr-2" name="submit" type="submit" value="Pay" />
                <input type="hidden" name="isEditing" value="False" id="updatePaymentBtn">
              </div>
            </form>
          </div>
        </div>
        <div class="container mt-2">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Supplier Name</th>
                <th>Balance</th>
                <th>Edit</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody id="paymentDataList">
              <% if (locals.payments) { locals.payments.forEach(function(p) {
                let date = p.date.toLocaleDateString("en-US")
                 %>
                <tr>
                  <td><%= date %></td>
                  <td><%= p.receiver %></td>
                  <td><%= p.amount %></td>
                  <td>
                    <button class="btn btn-outline-warning" name="editPayment" paymentId="<%= p.id %>">Edit</button>
                  </td>
                  <td>
                    <form action="/accounts/removePayment" method="post">
                      <input type="hidden" name="paymentId" value="<%= p.id %>">
                    <button type="submit" class="btn btn-outline-danger">Remove</button>
                  </form>
                    </td>
                </tr>
            <% })} %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      function logout() {
        document.cookie = "pcs=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.href = "/";
      }
      $(document).ready(() => {
        $(`button[name="search_submit_button"]`).click(() => {
          let SI = $(`input[name="search_input"]`).val()
          $.ajax({
            url: "/bank/bank_search",
            method: 'POST',
            data: {
              SI: SI
            },
            success: (data) => {
              if (data == "No Bank found!") {
                alert("No Bank found!")
              } else {
                $('tbody').empty()
                for (let i = 0; i < data.length; i++) {
                  const elem = data[i];
                  $('tbody').prepend(
                    `<tr>
                    <td>${elem.name}</td>
                    <td>${elem.branch}</td>
                    <td>${elem.ac_nr}</td>
                    <td>${elem.balance}</td>
                  </tr>`
                  )
                }
              
              }
            }
          })
        });  
        
        $("#supplierEditBtn").click(() => {
          $("#supplierDivForEdit").addClass("hide")
            $("#selectSupplierDiv").removeClass("hide")

        })

        $("#supplier").change(() => {
          let supplier =  $("#supplier").val()

          $.ajax({
            url: "/supplier/supplier_search",
            type: "post",
            data: {
              SI : supplier
            },
            success: (data) => {

            let reservedSupplier_id = $(`input[name="reservedSupplier_id"]`).val()
            let reservedAmountForEdit = $(`input[name="reservedAmountForEdit"]`).val()
            let isEditing = $("#updatePaymentBtn").val()
            if (isEditing == "True") {
              if (reservedSupplier_id == data[0].supplier_id) {
                
                alert("This payment has already been issued to this supplier!")
                $("#supplierDivForEdit").removeClass("hide")
                $("#selectSupplierDiv").addClass("hide")
                let supplier = data[0];
                let calcBalance = Number(supplier.balance) - Number(reservedAmountForEdit)
                $(`input[name="supplier_id"]`).val(supplier.supplier_id)
                $(`input[name="selected_supplier"]`).val(supplier.name)
                  $(`input[name="balance"]`).val(calcBalance)
                  $(`input[name="prvBalance"]`).val(calcBalance)
                  let amount = $(`input[name="amount"]`).val()
                  let totalBalance = Number(amount) + Number(calcBalance)
                  $(`input[name="Cbalance"]`).val(totalBalance)
              } else {
                $(`input[name="selected_supplier"]`).val(data[0].name)
                $(`input[name="supplier_id"]`).val(data[0].supplier_id)
                $(`input[name="balance"]`).val(data[0].balance)
                $(`input[name="prvBalance"]`).val(data[0].balance)
                let amount = $(`input[name="amount"]`).val()
                let totalBalance = Number(amount) + Number(data[0].balance)
                $(`input[name="Cbalance"]`).val(totalBalance)
              }
            } else {
              $(`input[name="supplier_id"]`).val(data[0].supplier_id)
              $(`input[name="balance"]`).val(data[0].balance)
              $(`input[name="prvBalance"]`).val(data[0].balance)
              let amount = $(`input[name="amount"]`).val()
              let totalBalance = Number(amount) + Number(data[0].balance)
              $(`input[name="Cbalance"]`).val(totalBalance)
            }
            }
          })
        })
      
        $(`input[name="amount"]`).keyup(() => {
          let amount = $(`input[name="amount"]`).val()
          let balance = $(`input[name="prvBalance"]`).val()
          let totalBalance = Number(amount) + Number(balance)
          $(`input[name="Cbalance"]`).val(totalBalance)
        })
      
        $('body').on("click", `button[name="editPayment"]`, (e) => {
          let paymentId =  e.target.getAttribute("paymentId")
        $.ajax({
          url: "/accounts/getPaymentDataForEdit",
          type: "post",
          data: {paymentId: paymentId},
          success: (data) => {
            $("#supplierDivForEdit").removeClass("hide")
            $("#selectSupplierDiv").addClass("hide")
            let supplier = data[1];
            let paymentData = data[0]
            let calcBalance = Number(supplier.balance) - Number(paymentData.amount)
            $(`input[name="reservedSupplier_id"]`).val(supplier.supplier_id)
            $(`input[name="reservedAmountForEdit"]`).val(paymentData.amount)
            $(`input[name="reservedPaymentIdForEdit"]`).val(paymentData.id)

            $(`input[name="supplier_id"]`).val(supplier.supplier_id)
            $(`input[name="selected_supplier"]`).val(supplier.name)
              $(`input[name="balance"]`).val(calcBalance)
              $(`input[name="amount"]`).val(paymentData.amount)
              $(`input[name="comment"]`).val(paymentData.comment)
              $(`input[name="prvBalance"]`).val(calcBalance)
          let totalBalance = Number(paymentData.amount) + Number(calcBalance)
          $(`input[name="Cbalance"]`).val(totalBalance)
           $("#updatePaymentBtn").val("True")
           $("#paymentDataList").empty()
           alert("Edit your data inside 'Create New' button.")
          }
        })
      
        })
      
      //   $('body').on("click", `button[name="removePayment"]`, (e) => {
      //     let paymentId =  e.target.getAttribute("paymentId")

      //   $.ajax({
      //     url: "/accounts/removePayment",
      //     type: "post",
      //     data: {paymentId: paymentId},
      //     success: (data) => {

      //     }
      //   })

      // })
      
      
      })
    </script>
  </body>